#parse("include/java_header_SRC.vm")

import java.io.Serializable;

/**
 * Commons object used for represent entity with a couple key/label.
 * @author Telosys ( http://www.telosys.org/ )
 */
public class ListItemDto implements Serializable {
	private static final long serialVersionUID = 4087999999224804800L;
	private String value;
	private String label;

	public ListItemDto() {
	}

	public ListItemDto(String value) {
		this.value = value;
	}

	public ListItemDto(String value, String label) {
		this.value = value;
		this.label = label;
	}

	public String getValue() {
		return value;
	}

	public void setValue(String value) {
		this.value = value;
	}

	public String getLabel() {
		return label;
	}

	public void setLabel(String label) {
		this.label = label;
	}

	@Override
	public String toString() {
		return "ListItemDto [value=" + value + ", label=" + label + "]";
	}
}
