#parse("include/java_header_SRC.vm")

/**
 * Utility class used for store rest api configuration.
 * @author Telosys ( http://www.telosys.org/ )
 */
public class Paths {

	private Paths() {
	}

	// Api general
	public static final String BASE_URL = "http://localhost:8080/bookstore-rest-api-0.1";
	public static final String API_ROOT = "/api/v1";

	public static final String ALLOWED_HEADERS = "Content-Type,Access-Control-Allow-Origin, Access-Control-Allow-Headers, Authorization, X-Requested-With,x-gwt-module-base";
	public static final String ALLOWED_METHOD = "GET,POST,PUT,DELETE,OPTIONS";
	public static final String ALLOWED_ORIGIN = "*";
	
	public static final String SIMPLE_DATE_PATTERN = "yyyy-MM-dd";

}