#parse("include/java_header_TEST_SRC.vm")

import static org.mockito.Matchers.eq;
import static org.mockito.Mockito.verify;

import javax.inject.Inject;

import org.jukito.JukitoRunner;
import org.junit.Test;
import org.junit.runner.RunWith;

import com.gwtplatform.mvp.client.proxy.PlaceManager;
import com.gwtplatform.mvp.shared.proxy.PlaceRequest;
import ${ROOT_PKG}.client.application.layout.header.HeaderPresenter;
import ${ROOT_PKG}.client.application.layout.header.HeaderPresenter.HeaderView;
import ${ROOT_PKG}.client.event.LoadingEvent;
import ${ROOT_PKG}.client.place.NameTokens;

/**
 * Test class for header presenter.
 * @author Telosys ( http://www.telosys.org/ )
 */
@RunWith(JukitoRunner.class)
public class HeaderPresenterTest {

	@Inject
	HeaderPresenter headerPresenter;
	@Inject
	HeaderView view;

	@Test
	public void onHomeListClick(PlaceManager placeManager) {
		// Given
		PlaceRequest placeRequest = new PlaceRequest.Builder().nameToken(NameTokens.HOME).build();
		// When
		headerPresenter.onHomeClick();
		// Then
		verify(placeManager).revealPlace(eq(placeRequest));
	}

	@Test
	public void onLoadingEventTrue() {
		// When
		headerPresenter.onLoadingEvent(new LoadingEvent(true));
		// Then
		verify(view).showSpinner(true);
	}

	@Test
	public void onLoadingEventFalse() {
		// When
		headerPresenter.onLoadingEvent(new LoadingEvent(false));
		// Then
		verify(view).showSpinner(false);
	}

#foreach( $entity in $selectedEntities )
#if ($foreach.index <= 8)
#set( $upperCaseEntityName = $fn.toUpperCase($entity.name))
#set( $listRootName = "${upperCaseEntityName}_LIST" )
	@Test
	public void on${entity.name}Click(PlaceManager placeManager) {
		// Given
		PlaceRequest placeRequest = new PlaceRequest.Builder().nameToken(NameTokens.${listRootName}).build();
		// When
		headerPresenter.on${entity.name}Click();
		// Then
		verify(placeManager).revealPlace(eq(placeRequest));
	}
#end
#end
}