#parse("include/java_header_SRC.vm")

import com.gwtplatform.mvp.client.gin.AbstractPresenterModule;

## Import generated for each entity.
#foreach( $entity in $selectedEntities )
#set( $lowerCaseEntityName = $entity.name.toLowerCase())
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.form.${entity.name}FormPresenter;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.form.${entity.name}FormPresenter.${entity.name}FormProxy;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.form.${entity.name}FormPresenter.${entity.name}FormView;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.form.${entity.name}FormViewImpl;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.list.${entity.name}ListPresenter;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.list.${entity.name}ListPresenter.${entity.name}ListProxy;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.list.${entity.name}ListPresenter.${entity.name}ListView;
import ${ROOT_PKG}.client.application.content.${lowerCaseEntityName}.list.${entity.name}ListViewImpl;
#end
## Import added one time
import ${ROOT_PKG}.client.application.content.error.ErrorPresenter;
import ${ROOT_PKG}.client.application.content.error.ErrorPresenter.ErrorProxy;
import ${ROOT_PKG}.client.application.content.error.ErrorPresenter.ErrorView;
import ${ROOT_PKG}.client.application.content.error.ErrorViewImpl;
import ${ROOT_PKG}.client.application.content.home.HomePresenter;
import ${ROOT_PKG}.client.application.content.home.HomePresenter.HomeProxy;
import ${ROOT_PKG}.client.application.content.home.HomePresenter.HomeView;
import ${ROOT_PKG}.client.application.content.home.HomeViewImpl;
import ${ROOT_PKG}.client.application.layout.footer.FooterPresenter;
import ${ROOT_PKG}.client.application.layout.footer.FooterPresenter.FooterProxy;
import ${ROOT_PKG}.client.application.layout.footer.FooterPresenter.FooterView;
import ${ROOT_PKG}.client.application.layout.footer.FooterViewImpl;
import ${ROOT_PKG}.client.application.layout.header.HeaderPresenter;
import ${ROOT_PKG}.client.application.layout.header.HeaderPresenter.HeaderProxy;
import ${ROOT_PKG}.client.application.layout.header.HeaderPresenter.HeaderView;
import ${ROOT_PKG}.client.application.layout.header.HeaderViewImpl;

/**
 * Top level module.
 * On this class we realize the Gin binding for all our couple of Presenter/view.
 * @see AbstractPresenterModule
 * @author Telosys ( http://www.telosys.org/ )
 */
public class ApplicationModule extends AbstractPresenterModule {

	@Override
	protected void configure() {
		/** Header part */
		bindPresenter(HeaderPresenter.class, HeaderView.class, HeaderViewImpl.class, HeaderProxy.class);
		/** Footer part */
		bindPresenter(FooterPresenter.class, FooterView.class, FooterViewImpl.class, FooterProxy.class);
		/** Home Page */
		bindPresenter(HomePresenter.class, HomeView.class, HomeViewImpl.class, HomeProxy.class);
		/** Error page */
		bindPresenter(ErrorPresenter.class, ErrorView.class, ErrorViewImpl.class, ErrorProxy.class);

#foreach( $entity in $selectedEntities )
		/** Gin binding for ${entity.name}*/
		bindPresenter(${entity.name}ListPresenter.class, ${entity.name}ListView.class, ${entity.name}ListViewImpl.class, ${entity.name}ListProxy.class);
		bindPresenter(${entity.name}FormPresenter.class, ${entity.name}FormView.class, ${entity.name}FormViewImpl.class, ${entity.name}FormProxy.class);
#end

		bindPresenter(ApplicationPresenter.class, ApplicationPresenter.MyView.class, ApplicationView.class, ApplicationPresenter.MyProxy.class);
	}
}