#parse("include/java_header_SRC.vm")

import javax.validation.ConstraintViolation;

import ${ROOT_PKG}.client.util.common.SimpleView;

/**
 * Define contract for form view.
 * @param <P> the associated presenter
 * @param <F> the entity dto associated with this presenter
 * @author Telosys ( http://www.telosys.org/ )
 */
public interface FormView<P, F> extends SimpleView<P> {
	void showNotification(boolean visible);

	void showNotificationError(boolean visible, String text);

	void load(F data);

	void setUpdateMode(boolean updateMode);
	
	void setConstraintsViolations(Iterable<ConstraintViolation<?>> violations);

}
