#parse("include/java_header_SRC.vm")

import com.google.gwt.event.shared.EventHandler;
import com.google.gwt.event.shared.GwtEvent;
import com.google.gwt.event.shared.HasHandlers;

/**
 * Loading event definition.
 * This event is used for show/hide the loading spinner on HeaderPresenter.
 * Fire event for show the spinner (for example before a server call) : LoadingEvent.fire(this, true);
 * Fire event for hide the spinner (for example after a server call) : LoadingEvent.fire(this, false);
 * @author Telosys ( http://www.telosys.org/ )
 */
public class LoadingEvent extends GwtEvent<LoadingEvent.LoadingHandler> {
	// Event handler for LoadingEvent
	public interface LoadingHandler extends EventHandler {
		void onLoadingEvent(LoadingEvent event);
	}

	public static final Type<LoadingHandler> TYPE = new Type<>();

	public final boolean show;

	public LoadingEvent(boolean show) {
		this.show = show;
	}

	public static void fire(HasHandlers source, boolean show) {
		source.fireEvent(new LoadingEvent(show));
	}

	@Override
	public Type<LoadingHandler> getAssociatedType() {
		return TYPE;
	}

	@Override
	protected void dispatch(LoadingHandler handler) {
		handler.onLoadingEvent(this);
	}

	public boolean isShow() {
		return show;
	}
}